 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;

}
.container-0{
    width: 100vw;
    height: 100vh;
}

.container{
    margin: 178px 0 0 127px;

}

.img-1{
    width: 25vw;
    height: 17vh;
    margin-left: 10px;
    margin-bottom: 7px;
}

.text-1{
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    width: 495px;
    margin-left: 58px;
    margin-top:-18px;
    color: #1c1e21;
    line-height: 33px;

    
}

._6luv{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 11%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    float: right;
    margin-right: 200px;
    margin-top:-250px;
}


input{
    height: 55px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin-left: 14px;
    background: #fff;
    font-size: 17px;
    padding-left: 15px;
    
}
input:focus{
    border:1px solid #1877f2;
    outline: none;
   
}

#le-2{
    margin-top: 10px;
}

.batao-1{
    margin-top: 15px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 0 0 px;
    width: 366px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 14px;
    font-weight: bold;
    color: #fff;
    
}

.link{
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    margin-left: 129px;
    text-align: right;


}
.linha{
    border:0.1px solid #dddfe2; 
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;

}
.batao-2{
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #42b72a;
    color: #fff;
    font-weight: bold;
    margin-left: 115px;

}

    
    .container-2{
        position: absolute;
        top: 520px;
        left: 750px;
        width: 420px;
        font-size: 14px;
        font-weight: normal;
        color: #1c1e21;
        text-align: center;
        
    }



samp{
    margin-left: 8px;
}

.kkk-1{
    color: #1c1e21;
}

@media screen and (max-width: 800px){
    ._6luv{
     float: none;
    margin: 0;
    margin-left: 13px;
    margin-top: 47px;
    width: 367px;
    }

    .container-2{
        position: static;
        margin: 21px 0;
    width: 382px;
    }

    .img-1{
        margin-top: -70px;
        font-size: 0px;
        margin-left: -41px;
        width: 239px;
        height: 12vh;
    }

    .text-1{
        text-align: center;
    line-height: 33px;
    font-size: 23px;
    margin-left: -73px;
    margin-bottom: 47px;
    margin-top: 1px;
    width: 291px;
    }
    
    input{
        width: 340px;

    }

    .batao-1{
        width: 340px;
    }

    .link{
        margin-left: 120px;
    }

    .batao-2{
        margin-left: 105px;
    }


    
}